<div class="page page-table" data-ng-controller="accountsCtrl">
    <div class="row">
        <div class="col-md-4 align-baseline">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li><a href="#/accounts/"><span data-translate="Accounts"></span></a></li>
                <li class="active"><a href="#/accounts/{{account.id}}/">{{account.name}}</a></li>
            </ol>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4 align-right align-baseline">
            <span style="font-size: medium">{{account.name}}</span> <br><span style="font-size: smaller">{{account.lifetime}}</span>
        </div>
    </div>

    <div class="row">

		<div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <uib-tabset class="ui-tab">
                        <uib-tab index="0" class="text-small"><uib-tab-heading><span data-translate="General"></span></uib-tab-heading>
                            <br>

                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <canvas id="identicon" width="300" height="300" />
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><span data-translate="Account Information"></span></div>
                                            <div class="panel-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href='#/objects/{{account.id}}/'>{{account.id}}</a></span>
                                                        ID
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000">{{account.name}}</span>
                                                        <span data-translate="Name"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href='#/accounts/{{account.referer}}/'>{{account.referer}}</a></span>
                                                        <span data-translate="Referrer"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href='#/accounts/{{account.registrar}}/'>{{account.registrar}}</a></span>
                                                        <span data-translate="Registrar"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href='#/objects/{{account.voting_account_id}}/'>{{account.voting_account_name}}</a></span>
                                                        <span data-translate="Voting as"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><span data-translate="Account statistics"></span></div>
                                            <div class="panel-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000">{{account.dxp_balance | number}}</span>
                                                        DXP <span data-translate="Balance"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000">{{account.lifetime_fees_paid | number}}</span>
                                                        <span data-translate="Lifetime fees paid"></span>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000">{{account.total_ops | number}}</span>
                                                        <span data-translate="Total operations"></span>
                                                    </li>

                                                    <li class="list-group-item">
                                                        <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href='#/objects/{{account.statistics}}/'>{{account.statistics}}</a></span>
                                                        <span data-translate="Statistics"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" class="text-small"><uib-tab-heading><span data-translate="Balances"></span></uib-tab-heading>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading"> {{balance_count}} <span data-translate="Asset balances"></span></div>
                                        <div class="panel-body table-responsive">
                                            <form>
                                                <div class="col-md-6">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                                                        <input type="text" class="form-control" placeholder="Search for a balance" ng-model="search">
                                                    </div>
                                                </div>
                                            </form>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th ng-click='sortColumn("id")' ng-class='sortClass("id")'>ID</th>
                                                    <th ng-click='sortColumn("asset_name")' ng-class='sortClass("asset_name")'><span data-translate="Asset"></span></th>
                                                    <th class="align-right" ng-click='sortColumn("balance")' ng-class='sortClass("balance")'><span data-translate="Balance"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="balance in balances | orderBy:column:reverse | filter:search">
                                                    <td><a href="#/objects/{{balance.id}}/">{{balance.id}}</a></td>
                                                    <td><a href="#/assets/{{balance.asset}}/">{{balance.asset_name}}</a></td>
                                                    <td class="align-right">{{balance.balance | number}}</td>
                                                </tbody>
                                            </table>
                                            <footer class="table-footer">
                                                <div class="row">
                                                    <div class="col-md-12 text-right pagination-container">
                                                        <ul uib-pagination class="pagination-sm"
                                                            ng-model="currentPageBalance"
                                                            total-items="balance_count"
                                                            max-size="4"
                                                            ng-change="currentPageBalance===undefined || select_balances(currentPageBalance)"
                                                            items-per-page="10"
                                                            rotate="false"
                                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                                            boundary-links="true"></ul>
                                                    </div>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><span data-translate="Vesting balances"></span></div>
                                        <div class="panel-body table-responsive">
                                            <form>
                                                <div class="col-md-6">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="fas fa-search"></i></div>
                                                        <input type="text" class="form-control" placeholder="Search for a vesting balance" ng-model="search_vesting">
                                                    </div>
                                                </div>
                                            </form>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th><span data-translate="Asset"></span></th>
                                                    <th class="align-right"><span data-translate="Balance"></span></th>
                                                </tr>
                                                </thead>
                                                <tr data-ng-repeat="v in account.vesting">
                                                    <td><a href='#/objects/{{v.id}}/'>{{v.id}}</a></td>
                                                    <td>{{v.asset_name}}</td>
                                                    <td class="align-right">{{v.balance | number}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab index="2" class="text-small"><uib-tab-heading><span data-translate="Authorities"></span></uib-tab-heading>
                            <br>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><i class="fas fa-key"></i><span data-translate="Owner keys"></span></div>
                                        <div class="panel-body table-responsive">
                                            <table class="table" ng-if="owner_keys.length">
                                                <thead>
                                                <tr>
                                                    <th>Key</th>
                                                    <th class="align-right"><span data-translate="Threshold"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="ok in owner_keys">
                                                    <td align="left"><font size="-1">{{ok.key}}</font></td>
                                                    <td class="align-right"><font size="-1">{{ok.threshold}}</font></td>
                                                </tbody>
                                            </table>
                                            <table class="table" ng-if="owner_accounts.length">
                                                <thead>
                                                <tr>
                                                    <th>Account</th>
                                                    <th class="align-right"><span data-translate="Threshold"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="oa in owner_accounts">
                                                    <td align="left"><a href="#/accounts/{{oa.account}}/"><font size="-1">{{oa.account_name}}</font></a></td>
                                                    <td class="align-right"><font size="-1">{{oa.threshold}}</font></td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><i class="fas fa-key"></i><span data-translate="Active keys"></span></div>

                                        <div class="panel-body table-responsive">
                                            <table class="table" ng-if="active_keys.length">
                                                <thead>
                                                <tr>
                                                    <th>Key</th>
                                                    <th class="align-right"><span data-translate="Threshold"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="ak in active_keys">
                                                    <td align="left"><font size="-1">{{ak.key}}</font></td>
                                                    <td class="align-right"><font size="-1">{{ak.threshold}}</font></td>
                                                </tbody>
                                            </table>

                                            <table class="table" ng-if="active_accounts.length">
                                                <thead>
                                                <tr>
                                                    <th>Account</th>
                                                    <th class="align-right"><span data-translate="Threshold"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="aa in active_accounts">
                                                    <td align="left"><a href="#/accounts/{{aa.account}}/"><font size="-1">{{aa.account_name}}</font></a></td>
                                                    <td class="align-right"><font size="-1">{{aa.threshold}}</font></td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading"><i class="fas fa-key"></i> <span data-translate="Memo key"></span></div>

                                        <div class="panel-body table-responsive">

                                            <font size="-1">{{account.memo_key}}</font>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </uib-tab>

                        <uib-tab ng-if="user_issued_assets.length" index="3" class="text-small"><uib-tab-heading><span data-translate="Created assets"></span></uib-tab-heading>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading"> <span data-translate="Issued Assets"></span></div>
                                <div class="panel-body table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th ng-click='sortColumn("asset_name")' ng-class='sortClass("asset_name")'><span data-translate="Asset"></span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="uia in user_issued_assets">
                                            <td><a href="#/assets/{{uia.asset_id}}/">{{uia.asset_name}}</a></td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>


                        <uib-tab ng-if="proposals.length" index="4" class="text-small"><uib-tab-heading><span data-translate="Active proposals"></span></uib-tab-heading>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading"> <span data-translate="Currently active proposals"></span></div>
                                <div class="panel-body table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr><th>ID</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="p in proposals">
                                            <td><a href="#/blocks/{{p.id}}/">{{p.id}}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab ng-if="votes.length" index="5" class="text-small"><uib-tab-heading><span data-translate="Votes"></span></uib-tab-heading>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading"> <span data-translate="Supporting with my vote"></span></div>
                                <div class="panel-body table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th><span data-translate="Type"></span></th>
                                            <th><span data-translate="Account"></span></th>
                                            <th><span data-translate="Total votes"></span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="v in votes">
                                            <td><a href="#/objects/{{v.id}}/">{{v.id}}</a> <font size="-1"> - {{v.votable_object_name}}</font></td>
                                            <td>{{v.type}}</td>
                                            <td><a href="#/accounts/{{v.account}}/">{{v.account_name}}</a></td>
                                            <td>{{v.votes_for | number}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab ng-if="referrers.length" index="6" class="text-small"><uib-tab-heading><span data-translate="Referral"></span></uib-tab-heading>
                            <br>
                            <div class="panel panel-default">
                                <div class="panel-heading"> <b>{{referral_count}}</b> <span data-translate="referred accounts"></span>.</div>
                                <div class="panel-body table-responsive">

                                    <table class="table">
                                        <thead>
                                        <tr><th> <span data-translate="Account"></span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="r in referrers">
                                            <td><a href="#/accounts/{{r.account_id}}/">{{r.account_name}}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <footer class="table-footer">
                                        <div class="row">
                                            <div class="col-md-12 text-right pagination-container">
                                                <ul uib-pagination class="pagination-sm"
                                                    ng-model="currentPageReferer"
                                                    total-items="referral_count"
                                                    max-size="4"
                                                    ng-change="currentPageReferer===undefined || select_referers(currentPageReferer)"
                                                    items-per-page="20"
                                                    rotate="false"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;"
                                                    boundary-links="true"></ul>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </uib-tab>

                        <uib-tab ng-if="is_proxy == true" index="7" class="text-small">uib-tab-heading><span data-translate="Proxy"></span></uib-tab-heading>
                            <br>
                            <span data-translate="Votes"></span> {{proxy_votes | number:0}}
                        </uib-tab>
                        <uib-tab ng-if="is_dxpcore_member == true" index="8" class="text-small"><uib-tab-heading><span data-translate="Dxpcore member"></span></uib-tab-heading>
                            <br>

                            <div class="panel panel-default">
                                <div class="panel-heading"> <span data-translate="Dxpcore member data"></span></div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href="#/accounts/{{dxpcore_member_account}}">{{dxpcore_member_account_name}}</a></span>
                                            <span data-translate="Dxpcore member account"></span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href="#/objects/{{dxpcore_id}}">{{dxpcore_id}}</a></span>
                                            <span data-translate="Dxpcore member ID"></span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000">{{dxpcore_votes | number:0}}</span>
                                            <span data-translate="Votes"></span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href="{{dxpcore_url}}">Link</a></span>
                                            Url
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </uib-tab>
                        <uib-tab ng-if="is_blockproducer == true" index="9" class="text-small"><uib-tab-heading><span data-translate="Blockproducer"></span></uib-tab-heading>
                            <br>

                            <div class="panel panel-default">
                                <div class="panel-heading"> <span data-translate="Blockproducer data"></span></div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href="#/accounts/{{blockproducer_account}}">{{blockproducer_account_name}}</a></span>
                                            <span data-translate="Blockproducer account"></span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href="#/objects/{{blockproducer_id}}">{{blockproducer_id}}</a></span>
                                            <span data-translate="Blockproducer ID"></span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000">{{blockproducer_votes | number:0}}</span>
                                            <span data-translate="Votes"></span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href="{{blockproducer_url}}">Link</a></span>
                                            Url
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <span data-translate="Votes"></span> {{blockproducer_votes | number:0}}
                        </uib-tab>
                        <uib-tab ng-if="is_benefactor == true" index="10" class="text-small"><uib-tab-heading><span data-translate="Benefactor"></span></uib-tab-heading>
                            <br>
                            <span data-translate="Votes"></span> {{benefactor_votes | number:0}}
                        </uib-tab>

                    </uib-tabset>
                </div></div>
		</div>
	</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span data-translate="Full account history"></span></h3>
        </div>
        <div class="panel-body table-responsive">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                <a href="http://open-explorer.io/dxpchain-account-exporter/" target="_blank"><span size="+1"><span data-translate="Click here for a CSV account exporter"></span></span></a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th><span data-translate="Operation"></span></th>
                    <th>ID</th>
                    <th><span data-translate="Date and Time"></span></th>
                    <th><span data-translate="Block"></span></th>
                    <th><span data-translate="Type"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="operation in operations track by $index">
                    <td><div ng-bind-html="operation.operation_text | to_trusted" layout-align="center"></div></td>
                    <td><a href='#/operations/{{operation.operation_id}}/'>{{operation.operation_id}}</a></td>
                    <td>{{operation.time}}</td>
                    <td><a href='#/blocks/{{operation.block_num}}/'>{{operation.block_num | number}} </a></td>
                    <td><span class="badge badge-primary" style="background-color: #{{operation.op_color}};">{{operation.op_type}}</span></td>
                </tr>
                </tbody>
            </table>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <ul uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="account.total_ops"
                                            max-size="4"
                                            ng-change="currentPage===undefined || select(currentPage)"
                                            items-per-page="20"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
