<div class="page page-table" data-ng-controller="blocksCtrl">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="#/"><span data-translate="Home"></span></a></li>
                <li><a href="#/blocks/"><span data-translate="Blocks"></span></a></li>
                <li class="active"><a href="#/blocks/{{data.block_num}}/"><span data-translate="Block number"></span>: {{data.block_num | number}}</a></li>
            </ol>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="#/blocks/{{data.prev}}/"><i class="fas fa-angle-double-left"></i> Block {{data.prev | number}}</a>
        </div>
        <div class="col-md-6" align="right">
            <a href="#/blocks/{{data.next}}/"><span data-translate="Block"></span> {{data.next | number}} <i class="fas fa-angle-double-right"></i> </a>
        </div>
    </div>
    <br>

    <div class="panel panel-default">
        <div class="panel-heading"> <span data-translate="Block"></span>: <strong>{{data.block_num | number}}</strong></div>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge" style="background-color: #FFFFFF; color: #000000">{{data.previous}}</span>
                <span data-translate="Previous"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" style="background-color: #FFFFFF; color: #000000">{{data.timestamp}}</span>
                <span data-translate="Date and time"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" style="background-color: #FFFFFF; color: #000000">{{data.transaction_merkle_root}}</span>
                Merkle Root
            </li>
            <li class="list-group-item">
                <span class="badge" style="background-color: #FFFFFF; color: #000000"><a href='#/objects/{{data.blockproducer}}/'>{{data.blockproducer}}</a></span>
                <span data-translate="Blockproducer"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" style="background-color: #FFFFFF; color: #000000">{{data.blockproducer_signature}}</span>
                <span data-translate="Blockproducer signature"></span>

            </li>
            <li class="list-group-item">
                <span class="badge" style="background-color: #FFFFFF; color: #000000">{{data.transactions_count}}</span>
                <span data-translate="Transactions in block"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" style="background-color: #FFFFFF; color: #000000">{{data.operations_count}}</span>
                <span data-translate="Operations in block"></span>
            </li>
        </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span data-translate="Transactions raw data"></span></h3>
        </div>
        <div class="panel-body">
            <pre>{{data.transactions | json}}</pre>
        </div>
    </div>

</div>
