<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dxpchain Blockchain Explorer</title>
        <meta name="description" content="dxpchain blockchain explorer transaction, blocks, accounts.">
        <meta name="keywords" content="dxpchain, blockchain, crypto, exchange, dex, dac">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,600,300,700'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="html/fontawesome.min.css">
        <link rel="stylesheet" href="html/solid.min.css">
        <link rel="stylesheet" href="html/loading-bar.min.css">
        <link rel="stylesheet" href="html/bootstrap.min.css">
        <link rel="stylesheet" href="html/custom.css">
    </head>
    <body data-ng-app="app"
          id="app"
          class="app"
          data-custom-page
          data-off-canvas-nav
          data-ng-controller="AppCtrl">
        <!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
                <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

        <header data-ng-include="'html/header.html'" id="header" class="header-container "></header>

        <div class="main-container" style="margin: 10px">
            <div id="content" class="content-container">
                <section data-ng-view class="view-container {{main.pageTransition.class}}"></section>
            </div>
            <footer data-ng-include="'html/footer.html'" id="footer" class="app-footer"></footer>
        </div>

        <script src="charting_library/jquery.min.js"></script>
        <script src="charting_library/charting_library.min.js"></script>
        <script src="charting_library/datafeed/udf/datafeed.js"></script>

    </body>
</html>
